@import "../../../modules/mixins/mixins";
@import "../../../custom/scss/config";

@mixin title-h2-h3() {
  text-align: center;
  h2 {
    font-size: 2.6rem;
    line-height: 1.15;
    color: $color-purple-dark;
    padding: 0;
    margin: 0.3em 0 0 0;
  }
  h3 {
    font-size: 2rem;
    font-weight: normal;
    color: black;
    padding: 0;
    margin: 0.3em 0 0 0;
    + h3 {
      margin-top: 0.1em;
    }
  }
}

@mixin title-h2 {
  text-align: center;
  h2 {
    font-size: 2.5rem;
    font-weight: 300;
    color: black;
    padding: 0;
    margin: 0;
  }
}

@mixin title-h3 {
  text-align: center;
  h3 {
    font-size: em(30px, $font-size);
    font-weight: 300;
    color: $color-purple-dark;
    padding: 0;
    margin: 0;
  }
}

@mixin p-bigger {
  font-size: em(18px, $font-size);
}

@mixin styling-list($color) {
  ul {
    list-style: none;
    color: black;
    font-size: em(18px, $font-size);
    li {
      position: relative;
      padding-left: 2em;
      margin-top: 1.4em;
      line-height: 1.2;
      &:before {
        content: "\f138";
        font-family: FontAwesome;
        font-size: 1em;
        color: $color;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 1;
        margin-top: -0.5em;
      }
    }
  }
}


